<h1><a href="/" style="text-decoration-line: none; color: black;"> BookStore </a></h1>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">BookStore Search</a>
        <form method = POST action = '/' class="d-flex" role="search">
            <input name = 'book_name' class="form-control me-2" type="search" placeholder="검색할 도서명 입력" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>